.container
  %h1 Todo List
  %div(data-bind="with: main.todos")
    %ul.todos(data-bind="foreach: todos")
      %li(data-bind="attr: {class: className}")
        %input(type="checkbox" data-bind="checked: completed")
        %span(data-bind="text: title")
    %a(data-bind="visible: allowClear, click: clearList") Clear List
    %input(type="text" placeholder="New Todo Title" data-bind="value: todoToAdd, event: {change: addTodoHandler}")

  %div(data-bind="with: main.eip")
    %p
      First name:
      %strong(data-bind="text: get('firstName')") todo
    %p
      Last name:
      %strong(data-bind="text: create('lastName')") todo2
    %p
      %input(data-bind="value: create('lastName','aa')") todo2
:javascript
    var todos = [ new Todo("Buy arduino"), new Todo("Eat lunch") ]
    dTodos = Todos.create(todos)
    EIP.create("firstName","James")
    main = {todos : dTodos, eip : EIP}
    ko.applyBindings(main);
