.container
  %h1 Todo List
  %ul.todos(data-bind="foreach: todos")
    %li(data-bind="attr: {class: className}")
      %input(type="checkbox" data-bind="checked: completed")
      %span(data-bind="text: title")
  %a(data-bind="visible: allowClear, click: clearList") Clear List
  %input(type="text" placeholder="New Todo Title" data-bind="value: todoToAdd, event: {change: addTodo}")


:javascript
    var todos = [ new Todo("Buy arduino"), new Todo("Eat lunch") ]
    dTodos = new Todos(todos)
    ko.applyBindings(dTodos);
