- label_bindings = knockout_options[:label] || "text: label"
- input_bindings = knockout_options[:input] || "value: value"
- error_bindings = knockout_options[:error] || "foreach: errors"
.control-group{"data-bind" => "with: #{field_name}"}
  %label.control-label{"data-bind" => label_bindings }
  .controls
    %input{type: "text", id: "#{field_name}", "data-bind" => input_bindings }
    .errors{"data-bind" => error_bindings}
      %p.text-error(data-bind="text: $data")
