%h3 Example how to use koForm

.container
  .span6.form_container
    = ko_form_for @person, {:as => :person, :url => "/forms"} do |f|
      =f.text_field :å
      =f.text_field :age
      =f.text_field :last_name
      %hr
      =f.fields_for :details do
        =f.text_field :work
        =f.text_field :hobby
        =f.text_field :some_field
      =f.submit :send


:coffee
$ ->
  FormBuilder =
    submit : (object)=>
      $.ajax
        type: "POST"
        url: "/forms"
        data: {model: ko.mapping.toJS(object.data), authenticity_token: $("#model").data("authenticity-token")}
        success: (data) =>
          FormBuilder.updateModel(data)
          return false
        error: ->
          console.log "error"

    updateModel : (data)->
      ko.mapping.fromJS(data, @model);

    textField : (root, model_name) ->
      data = root.data[model_name]
      errors = ko.observableArray([])
      if root.data.errors
        for error in root.data.errors()
          for k,v of error
            errors().push v if k == model_name
      node = {v: data, errors: errors, label: model_name, name: model_name, path: root.getPath(model_name), getPath: root.getPath }
      root[model_name] = node
      return node

    section : (root, model_name, data=FormBuilder.model) ->
      node = {name: model_name, path: root.getPath(model_name), getPath: root.getPath, data: data }
      root[model_name] = node
      return node

    formRoot: {path : "", getPath : (part) ->
        if @path == ""
          part
        else
          [@path,part].join(".")}

    messages: [ {title: "hello", body: "asdfasdf"}]

    model: ko.mapping.fromJS($("#model").data("hash"))

/ jQuery.extend(settings, options);
  ko.applyBindings(FormBuilder, $(".form_container")[0]);
  window.fb = FormBuilder
