%h3 How cool is this?
.container
  .span6
    .form-horizontal.cool_form
      = ko_form_for :person do |f|
        =f.input :first_name
        =f.input :age
        =f.input :last_name
        =f.fields_for :details do
          =f.input :ocupation
          =f.input :hobby
        =f.submit :send

:coffee
$ ->
  window.FormBuilder =
    submit : (event)->
      $.ajax
        type: "POST"
        url: "/forms"
        data: {person: ko.mapping.toJS(FormBuilder.personForm)}
        success: (data) =>
          console.log data
          #formData.person[k].errors(v) for k,v of data.errors
        error: ->
          console.log "error"

    textField : (root, model_name) ->
      data = root.data[model_name]
      node = {v: data, label: model_name, errors: [], name: model_name, path: root.getPath(model_name), getPath: root.getPath }
      root[model_name] = node
      return node

    section : (root, model_name, data) ->
      data = data || root.data[model_name]
      node = {name: model_name, path: root.getPath(model_name), getPath: root.getPath, data: data }
      root[model_name] = node
      return node

    formRoot: { path : "", getPath : (part) ->
        if @path == ""
          part
        else
          [@path,part].join(".")}

    person:
      first_name: ko.observable("Arek")
      last_name: ko.observable("Turlewicz")
      age: ko.observable(34)
      details:
        ocupation: ko.observable("ruby/js developer")
        hobby: ko.observable("asdfasdfas")

/ jQuery.extend(settings, options);
  ko.applyBindings(FormBuilder, $(".cool_form")[0]);
