%h3 How cool is this?
.container
  .span6
    .form-horizontal.cool_form
      = ko_form_for :person do |f|
        =f.input :first_name
        =f.input :age
        =f.input :last_name, :label => "visible: true, text: label_asdf"
        =f.fields_for :details do
          =f.input :ocupation
        =f.submit :send

:coffee
$ ->
  initialData =
    person:
      submit : (event)->
        console.log JSON.stringify(ko.mapping.toJS(formData.person))
      first_name:
        value: "Arek"
        label: "First Name"
        errors: []
      last_name:
        value: "Turlewicz"
        label_asdf: "Last Name"
        errors: []
      age:
        value: "34"
        label: "Age"
        errors: ["asdfasdf"]
      details:
        ocupation:
          value: "ruby/js developer"
          label: "Ocupation"
          errors: []

  window.formData = ko.mapping.fromJS(initialData);
  ko.applyBindings(formData, $(".cool_form")[0]);
