%h3 Example how to use koForm
#person{:"data-hash"=>@person.to_json, :"data-authenticity-token"=>form_authenticity_token}
.container
  .span6.form_container
    = ko_form_for :person do |f|
      =f.text_field :first_name
      =f.text_field :age
      =f.text_field :last_name
      %hr
      =f.fields_for :details do
        =f.text_field :work
        =f.text_field :hobby
        =f.text_field :some_field
      =f.submit :send


:coffee
$ ->
  window.FormBuilder =
    submit : (object)->
      console.log "Sending data: "
      console.log object
      $.ajax
        type: "POST"
        url: "/forms"
        data: {person: ko.mapping.toJS(object.data), authenticity_token: $("#person").data("authenticity-token")}
        success: (data) =>
          console.log "Received: "
          console.log data
          #person[k].errors(v) for k,v of data.errors # TODO
        error: ->
          console.log "error"

    textField : (root, model_name) ->
      data = root.data[model_name]
      node = {v: data, label: model_name, errors: ko.observableArray([]), name: model_name, path: root.getPath(model_name), getPath: root.getPath }
      root[model_name] = node
      return node

    section : (root, model_name, data) ->
      data = data || root.data[model_name]
      node = {name: model_name, path: root.getPath(model_name), getPath: root.getPath, data: data }
      root[model_name] = node
      return node

    formRoot: {path : "", getPath : (part) ->
        if @path == ""
          part
        else
          [@path,part].join(".")}

    messages: [ {title: "hello", body: "asdfasdf"}]

    person: ko.mapping.fromJS($("#person").data("hash"))

/ jQuery.extend(settings, options);
  ko.applyBindings(FormBuilder, $(".form_container")[0]);
