%h3 How cool is this?
.container
  .span6
    .form-horizontal.cool_form
      = ko_form_for :person do |f|
        =f.input :first_name
        =f.input :age
        =f.input :last_name, :label => "visible: true, text: label_asdf"
        =f.fields_for :details do
          =f.input :ocupation

:coffee
$ ->
  window.formData =
    person:
      first_name:
        value: "Arek"
        label: "First Name"
        errors: ko.observableArray([])
      last_name:
        value: "Turlewicz"
        label_asdf: "Last Name"
        errors: ko.observableArray([])
      age:
        value: "34"
        label: "Age"
        errors: ko.observableArray(["asdfasdf"])
      details:
        ocupation:
          value: "asdfasdf"
          label: "Ocupation"
  ko.applyBindings(formData, $(".cool_form")[0]);
