%h3 Example how to use koForm

.container
  .span6.form_container
    = ko_form_for @person, {:as => :person, :url => "/forms"} do |f|
      =f.text_field :名
      =f.text_field :age
      =f.text_field :last_name
      %hr
      =f.fields_for :details do
        =f.text_field :work
        =f.text_field :hobby
        =f.text_field :some_field
      =f.submit :send
